#Local File Paths
DATA_DIRECTORY=data/temp/

############################# Chunking ##################################
CHUNK_SIZE=1200
CHUNK_OVERLAP=200

############################# Models ####################################
#Write openai, ollama, docker
EMBEDDING_MODEL_SOURCE=openai
LLM_SOURCE=openai

# Open AI
OPENAI_API_KEY=''
OPENAI_API_BASE_URL=https://openai.vocareum.com/v1
OPENAI_API_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_LLM_MODEL=gpt-4o-mini
OPENAI_TEMPERATURE=0.0
# OLLAMA
OLLAMA_BASE_URL=
OLLAMA_EMBEDDING_MODEL=
OLLAMA_LLM_MODEL=llama3
OLLAMA_TEMPERATURE=0.0
# docker
DOCKER_BASE_URL=
DOCKER_EMBEDDING_MODEL=

############################# Vector Stores #############################
# Vector Store Config
# Available types: json, chromadb, pinecone, qdrant
VECTOR_STORE_TYPE=json

# Retrieval settings
USE_HYBRID_SEARCH=false
USE_HYBRID_EMBEDDING=true
SPARSE_EMBEDDING_MODEL=splade # Options: splade, bm25
SPLADE_MODEL=prithvida/Splade_PP_en_v1
BM25_MODEL=Qdrant/bm25

# JsonVectorStore Config
VECTOR_STORE_PATH=data/vector_store.json
# ChromaDB Config
CHROMA_PERSIST_DIR=data/chroma
# Pinecone Config
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
# Qdrant Config
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=



############################# Rerankers #############################
USE_RERANKER=true
RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
RERANKER_TYPE=cross_encoder
COHERE_API_KEY=
TOP_K=5

############################# Query Augmentation ####################
USE_MULTI_QUERY=false
USE_QUERY_DECOMPOSITION=false

############################# Evaluation ############################
JUDGE_SOURCE=openai

# Open AI Judge
OPENAI_JUDGE_MODEL=gpt-4o-mini
# HuggingFace Judge
HUGGINGFACE_JUDGE_MODEL=meta-llama/Meta-Llama-3-8B-Instruct
# Ollama Judge
OLLAMA_JUDGE_MODEL=llama3

EMBEDDING_COST_PER_1M_TOKENS=0.1
LLM_INPUT_COST_PER_1M_TOKENS=0.15
LLM_OUTPUT_COST_PER_1M_TOKENS=0.6
