#Local File Paths
DATA_DIRECTORY=data/temp/

############################# Chunking ##################################
CHUNK_SIZE=1200
CHUNK_OVERLAP=200

############################# Models ####################################
#Write openai, ollama, docker
EMBEDDING_MODEL_SOURCE=openai

# Open AI
OPENAI_API_KEY=''
OPENAI_API_BASE_URL=https://openai.vocareum.com/v1
OPENAI_API_EMBEDDING_MODEL=text-embedding-3-small
# OLLAMA
OLLAMA_BASE_URL=
OLLAMA_EMBEDDING_MODEL=
# docker
DOCKER_BASE_URL=
DOCKER_EMBEDDING_MODEL=

############################# Vector Stores #############################
# Vector Store Config
# Available types: json, chromadb, pinecone, qdrant
VECTOR_STORE_TYPE=json

# JsonVectorStore Config
VECTOR_STORE_PATH=data/vector_store.json
# ChromaDB Config
CHROMA_PERSIST_DIR=data/chroma
# Pinecone Config
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
# Qdrant Config
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=



############################# Rerankers #############################
USE_RERANKER=true
RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
RERANKER_TYPE=cross_encoder
COHERE_API_KEY=
TOP_K=5
