DATA_DIRECTORY=/Users/anya/Documents/OktaSkill/AIAAI/AIARAG-Capstone-Project/data/test/
CHUNK_SIZE=1200
CHUNK_OVERLAP=200


#Write openai, ollama, docker
EMBEDDING_MODEL_SOURCE=openai
# Open AI
OPENAI_API_KEY=voc-28247856417535051986986a93a8e63bdc56.67388577
OPENAI_API_BASE_URL=https://openai.vocareum.com/v1
OPENAI_API_EMBEDDING_MODEL=text-embedding-3-small
# OLLAMA
OLLAMA_BASE_URL=
OLLAMA_EMBEDDING_MODEL=
# docker
DOCKER_BASE_URL=
DOCKER_EMBEDDING_MODEL=